@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Playfair+Display:wght@500;800&family=Prata&display=swap');

:root {
  --bright-tangerine: #ffd208;
  --tangerine: #f5c325;

  --orange: #fc9745;
  --grapefruit: #ff7348;
  --strawberry: #fd5a5c;
  --dragonfruit: #f2456f;

  --lightseagreen100: #e6f2f3;
  --lightseagreen200:#cce4e6;
  --lightseagreen: #6DB9C2;
  --seagreen300:#80bcc1;
  --seagreen400:#33949b;
  --seagreen: #007982;
  --seagreen700: #00555b;
  --seagreen800: #003034;

  --tangerine-gradient: linear-gradient(90deg, #f5c325, #ffd208);
  --orange-gradient: linear-gradient(90deg, #fc9745, #ff7348);
  --teal-gradient: linear-gradient(90deg, #007982, #6DB9C2 );

  --lightGray: #fcfcfc;
  --darkGray: #5d5c5c;
  --darkGray800: #333;
  --darkGray900: #111;

  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
/* 
  font-family: 'Montserrat', sans-serif;

  font-family: 'Playfair Display', serif;

  font-family: 'Prata', serif; */

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font: inherit;
}

* {
margin: 0;
padding: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4, p {
  overflow-wrap: break-word;
}

h1 {
  font-family: "Rufina", sans-serif;
  font-size: 3.7em;
  line-height: 1.3em;
}

h2 {
  font-family: "Rufina", sans-serif;
  font-size: 3em;
  color: var(--darkGray800);
  line-height: 2em;

}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: var(--darkGray800);
}

h4 {
  color: var(--darkGray);
  font-weight: 400;
  text-transform: uppercase;
}

p {
  font-weight: 300;
  color:var(--darkGray900);
  line-height: 1.3em;
}

li,
a,
button {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}


/*------------------    End of reset      ------------*/



.debug {
    border: 2px solid red;
}


/* --------            Utilities | Colors             */
.tangerine {
    /* Tangerine is for creative tools and resources */
    background-image: linear-gradient(90deg, #f5c325, #ffd208);
  }
  
.teal {
    background-image: linear-gradient(90deg, #007982, #6DB9C2 );
  }

.white {
    color: white;
}

.dark {
    color: var(--seagreen700);
    font-weight: 600;
}


/* --------            Utilities | Containers             */

.section-container {
    display: grid;
    place-content: center;
    align-items: center;
    justify-content: center;
    padding: 2em;
    margin-top: 2em;
    margin: 3em 20%;
}

.colored-container {
    background-color: var(--lightseagreen100);
    width: 100vw;
    margin: 0;
    padding: 1em 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-items: center;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
}

.container {
    display: grid;
    
}

.card-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.card {
    display: grid;
    place-content: center;
    padding: 2em;
    position: relative;
}

.spacer {
    height: 3em;
}

.line {
    width: 30%;
    height: 10px;
    border-top:  solid 1px #6c757d;
    display: flex;
    justify-self: center;
    margin-bottom: 1em;

}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.subtitle {
    font-size: 1.3em;
    text-transform: uppercase;
    color: var(--bs-gray-dark);
}

.title-text {
    font-size: 1.2em;
}


/* -----------                Buttons                   */

.button {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 0.5em; 
  box-shadow: 5px 5px 15px hsla(184, 100%, 18%, 0.2);
  display: inline-block;
  max-width: fit-content;
  padding: 1em 3em;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.button::after {
    display: inline-block;
    padding-left: 1.5em;
    content: "\2192";
}

.button:hover, .primary-button:hover {
  background-color: var(--seagreen800);
  color: #fff;
}


.banner-button {
    color: var(--seagreen700);
    background-color: rgba(243, 243, 243, 1);
    margin: 1em 0;
}

.primary-button {
    color: white;
    background-color: var(--seagreen);
    margin: 2em 0 1em 0;

}

.secondary-button {
    color: var(--seagreen800);
    background-color: transparent;
    border: solid 2px var(--seagreen700);
    margin: 2em 0 1em 0;
    box-shadow: none;
    font-size: 0.9em;
}

.secondary-button::after {
    content: "";
    padding: 0;
}

/*  Top navigation  */
/*  ----------------------------------------------------------Top Navigation ----------------------------------------------------------------------------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2rem 10%;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
  }
  
  header img {
    max-width: 100px;
    height: auto;
    transition: 0.5s;
  }
  
  .logo {
    cursor: pointer;
    margin-right: auto;
  }
  
  header .navigation {
    position: relative;
    display: flex;
  }
  
  header .navigation li {
    list-style: none;
    margin-left: 1.3em;
  }
  
  header .navigation li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 1em;
    transition: all 0.3s ease 0s;
  }
  
  header .dark li a {
    color: var(--seagreen800);
  }
  
  header .navigation li a:hover {
    color: var(--seagreen800);
    background-color: #f1f1f1;
    opacity: 0.9;
  }
  
  header.sticky {
    background: white; 
    opacity: 80%;
    padding: 1em 5em;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    max-width: 100vw;
  }
  
  header.sticky img {
    max-width: 75px;
    height: auto;
  }
  
  header.sticky .navigation li a {
    color: var(--seagreen800);
  }
  
  header.sticky .navigation li a:hover {
    color: #fff;
    background-color: var(--seagreen800);
    opacity: 1;
  }
  
  header.sticky .nav-button {
    color: var(--seagreen800);
    border: 1px solid #003034;
  }
  
  header.sticky .nav-button:hover {
    background: var(--seagreen800);
    color: #fff;
  }
  
  .nav-button {
    border: 1px solid #fff;
    padding: 1em 1.5em;
    transition: all 0.5s ease 0s;
    margin-left: 1em;
  }
  
  .nav-button::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f073";
    display: inline-block;
    margin-right: 0.5em;
  
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  
  .nav-button:hover {
    background: #fff;
    color: var(--seagreen800);
  }
/*  -----------------------   Wave Hero Section --------------------------------------------------------------------------*/

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 70vh; 
  }
  
  
  .banner-content {
    width: 70vw;
    min-height: fit-content;
    background-color: transparent;    
  }
  
  
  .banner p {
    font-size: 1.3em;
    margin: 1.5em 0 0.5em 0;
  }
  
  
  .banner .banner-content h1 span {
    color: var(--seagreen700);
    background-color: #fff;
    padding: 0 1rem;
  }
  
  
  .banner .banner-content h1 span::before {
    font-family: "Rufina", sans-serif;
    content: " clarity. ";
    animation: animate infinite 8s;
  }
  
  @keyframes animate {
    10% {
      content: " clarity. ";
    }
  
    30% {
      content: " purpose. ";
    }
  
    50% {
      content: " focus. ";
    }
  
    75% {
      content: " alignment. ";
    }
    100% {
      content: " play. ";
    }
  }
  
  .wave-container {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .waves {
    position: relative;
    width: 100%;
    max-height: 15vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    /*max-height: 150px;*/
  }

  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  
  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }

/* ---------------------------- Quote section ----------------- */
  
  .big-quote {
    font-size: 2.2em;
    line-height: 1.2em;
    color: var(--darkGray800);
  }

  .big-quote::before {
    content: open-quote;
    color:#6DB9C2;
    opacity: 0.4;
    font-size: 10rem;
  }
   /* ---------------------------- About section ----------------- */
  
  .profile img {
    position: absolute;
    left: 10%;
    z-index: -1;
  }

  .glass-box {
    position: relative;
    top: 2em;
    right: -20%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
    padding: 3rem;
  }

  p + p {
    margin-top: 1.7em;
  }


   /* ---------------------------- Value proposition section ----------------- */
  
   p span {
    font-weight: 800;
    font-size: 3em;
  }

  .card img {
    margin: auto;
    padding: 1em;
    height: 100px;
  }

/* ---------------------------- Call to action section ----------------- */
  
  .colored-container a  {
    margin: 2em 1em 0 0;
  }


  /* ---------------------------------------------------------------  Contact form -------------------------------------------------------------------*/
    .wide {
        grid-template-columns: 1fr;
    }
  
  .conversation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
  }
  

  .conversation a {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-left: 1em;
    border-radius: 0.5em;
    border: 2px solid var(--seagreen);
  }
  
  .conversation a:hover {
    background-color: var(--seagreen);
    color: #f1f1f1;
  }
  
  .conversation a:hover > svg {
    fill: #fff;
  }
  
  .social {
    display: flex;
    align-items: flex-start;
    margin-top: 0.5rem;
  }
  
  .form-container {
    padding: 1em 0;
  }
  
  .form {
    align-self: center;
    width: 100%; 
    padding: 1em 0;
  }
  
  label {
    visibility: hidden;
  }
  
  .input {
    margin: 0 auto 1rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    visibility: visible;
    
  }
  
  .textInput {
    min-height: 6em;
    width:auto;
    /* resize: none; */
    margin: 0;
    padding: 0 2.5em 0 0;
  }
  
  .form-input {
  
    width: 100%;
    height: 3rem;
    color: #949494;
    padding: 0.5rem 0.75rem;
    /* background-clip: padding-box; */
    border-style: hidden;
    font-size: 1em;
    border-bottom: 1px solid #333;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  /* .form-input:last-child {
    margin-left: 1em;
  } */
  
  .form-input:focus {
    outline: 0;
    box-shadow: 2px rgba(207, 207, 207, 0.5);
    background-color: var(--lightseagreen100);
    color: #333;
    padding: 0.375rem 0.75rem;
    border-bottom: 1px solid #007982;
  }
  
  .input-textarea {
    min-height: 10rem;
    width: 100%;
    margin: 0 auto 1.25rem auto;
    resize: none;
    border: none;
    outline: none;
    padding: 0.5rem;
    color: #949494;
    border-bottom: 1px solid #333;
  }
  
  .input-textarea:focus {
    border-bottom: 1px solid #007982;
    color: #333;
    outline: 0;
    box-shadow: 2px rgba(207, 207, 207, 0.5);
    background-color: var(--lightseagreen100);
  }
  
#submit {
    margin-right: 1em;
}

/* ------------------------------------------------------  Get direction setion ------------------------------------------------*/
  
    #direction .grid-container, 
    #goals .grid-container,
    #calibrate .grid-container {
        margin-top: 2em;
    }

    #direction span,
    #goals span, 
    #calibrate span {
        color: var(--seagreen);
        font-size: inherit;
        font-weight: 600;
        
    }
  
    .one {
        background: #33949b;;
    }

    .two {
        background: #006d75;
        
         }

    .three {
        background: var(--seagreen);
    }

    .four {
        background:var(--seagreen700);
    }

    .five, .six {

        background: transparent;
        border: 2px solid #003034;

    }

 
    #teardowns .button,
    #coaching .button {
        background-color: transparent;
        border: solid 2px var(--lightseagreen100);
        margin: 2em auto 1em auto;
    }

    #teardowns .button:hover,
    #coaching .button:hover {
        background-color: var(--lightseagreen100);
        color: var(--seagreen800);

    }
    
    #teardowns .line {
        border-top: solid 1px var(--lightseagreen100);
        opacity: 0.4;
    }

    #okr .line {
        margin-top: 1em;

    }


    /* ------------------------------------------------------  Coaching and calibrate setion ------------------------------------------------*/
.accent-text {
    letter-spacing: 1px;
    color: #003034;
    font-size: 1.7em;
    font-weight: 400;
}


#coaching .line {
    width: 15%;
    margin: 1em 0 1.5em 0;
}

.stretch {
    grid-column: 1/-1;
}

.recommended {
    display: flex;
    position: absolute;
    top: 1.5em;
    right: 0;
    background-color: var(--lightseagreen100);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 1em 2em;
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

.recommended p {
    font-weight: 600;
    color: #006d75;
}

#teams .secondary-button {
    
    background-color: #006d75;
    color: white;
}

#teams .secondary-button:hover {

border: 2px solid #003034;

}

#get-started {
    padding: 0 20%;
}
  /* ------------------------------------------------------  Footer setion ------------------------------------------------*/
  
  .footer {
    padding: 3rem;
    text-align: left;
  }
  
  .footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
    max-width: 100vw;
    text-align: left;
  }
  
  .footer .titleText {
    font-weight: 400;
    padding: 15px 0px 50px 0px;
    max-width: 80vw;
    text-align: left;
  }
  
  .copyrightText {
    padding: 0;
    display: flex;
  
    text-align: left;
    overflow: none;
    max-width: 95vw;
  }
  
  .copyrightText p {
    color: #fff;
  }
  
  footer .social {
    position: relative;
    display: flex;
    margin-top: 0;
  }
  
  footer .social li {
    list-style: none;
    margin-left: 30px;
  }
  
  footer .social li a {
    text-decoration: none;
    color: white;
  }
  
  .footerRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95vw;
  }
  
  /* ---------------------------------------- Responsive ------------------------- */

/*         Tablet responsive       */

  @media (max-width: 1200px) {
        h1 {
            font-size: 2.7em;
        }
        
        h2 {
            font-size: 3rem;
            line-height: 4rem;
        }
        
        h3 {
            font-size: 1.5rem;
        }
        
        p {
            line-height: 1.3em;
        }

        .banner p {
            font-size: 1.1em;
        }

        header, header.sticky {
            padding: 1em 2em;
            }

        header .navigation {
            display: none;
            }

        header .navigation.active {
            width: max-content;
            height: calc(100% - 100px);
            position: fixed;
            top: 100px;
            right: 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            flex-direction: column;
            background: rgba(255, 255, 255, 0.9);
            box-shadow: -5px 5px 15px hsla(184, 100%, 18%, 0.2);
            color: #003034;
            padding: 3em 2em;
            border-top-left-radius: 1em;
        }

        header.sticky .navigation.active {
            height: calc(100% - 75px);
            top: 75px;
            color: #003034;
        }

        header .navigation.active li {
            color: #003034;
            font-size: 1.6em;
            line-height: 2.2em;
            font-weight: 700;
        }

        header.sticky .menuToggle.active {
            filter: invert(0);
        }

        header.sticky .menuToggle {
            filter: invert(1);
        }

        header .navigation.active a {
            color: var(--seagreen800);
        }

        header .navigation.active a:hover {
            color: var(--lightseagreen);
            background: none;
        }
        .menuToggle {
            position: relative;
            width: 40px;
            height: 40px;
            background: url(/assets/menu.svg);
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            margin-left: 2em;
        }

        .menuToggle.active {
            background: url(/assets/close-black.svg);
            filter: invert(1);
            background-size: 30px;
            background-repeat: no-repeat;
            background-position: center;
        }

 
  }

 
  
  
  /*      Mobile resposive */
  @media (max-width: 580px) {
    h1 {
        font-size: 2em;
      }
      
      h2 {
        font-size: 2.5em;
        line-height: 2.7rem;
      }
      
      h3 {
        font-size: 1.5rem;
      }
      
      p {
        line-height: 1.3em;
      }

      .banner p {
        font-size: 1.1em;
      }

      .banner {
        height: max-content;
        padding: 8em 1em 2em 1em;
      }

      .banner-content {
        width: 90vw;
        
      }    
      .wave-container {
        display: none;
      }

      .button {
        width: 100%;
      }
      .button::after {
        content: "";
      }
      
    .card-container {
        display: grid;
        grid-template-columns: 2fr;
    }

    .big-quote {
        font-size: 1.7em;
        
      }

      .subtitle {
        font-size: 1.1em;
      }

      .spacer {
        height: 1.5em;

      }

  }


